<%= form_with model: article do |form| %>
  <div>
    <%= form.label :title, class:"form__label" %><br>
    <%= form.text_field :title, class:"form__input__field" %>
    <% article.errors.full_messages_for(:title).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= form.label :body, class:"form__label" %><br>
    <%= form.text_area :body, class:"form__input__field text-area"%><br>
    <% article.errors.full_messages_for(:body).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
